@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Moon+Dance&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.moon-dance-regular {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
}
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


/* .roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
:root{
  --primary-color:"#fcfaf8";
  --secondary-color:"#00000";
  --tertiary-color:"#goldenrod";
  --big-size:"450px";
  --secondary-size:"65.66px";
  --small-size:"25.06px";
}